<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="{% static 'assets/img/sidebar-5.jpg' %}">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Striped Table with Hover</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>挠挠</th>
                                        <th>名字</th>
                                    	<th>手机号</th>
                                    	<th>操作</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>刘柳迪</td>
                                        	<td>haha</td>
                                        	<td>leaa</td>
                                        	<td>删除</td>
                                        </tr>
                                        <tr>
                                            <td>{{ liu }}</td>
                                        	<td>{{ num }}</td>
                                        	<td>{{ moblie }}</td>
                                        	<td>删除</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
